<h1>Listing charges</h1>

<table id="charges-table">
  <tr>
    <th>Created</th>
    <th>Paid</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Refunded</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Charge</a>