// Place all the styles related to the Charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list1-background {
  background: #FF0000;  
}

.list2-background {
  background: #FF5400;  
}


.list3-background {
  background: #FFFFFF;  
}